body {
  background: #8bb23c;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  font-size: 25px;
  margin: 0px 20px 50px 30px;
  color: #4b3f57;
  width: 100%;
}

form {
  margin: 30px;
  padding: 30px;
  background-color: #d599aa;
  border-radius: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
}

.topic {
  width: 70%;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  font-size: 14px;
  line-height: 120%;
}

.submit {
  line-height: 120%;
  width: 100px;
  padding: 12px;
  border-radius: 50px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  font-size: 14px;
  margin-left: 18px;
}

.quote {
  margin: 30px;
  padding: 30px;
  border-left: 4px solid #6c5b7c;
  background-color: #d599aa;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 2.5;
}
footer {
  color: #4b3f57;
  font-size: 14px;
  margin: 50px 30px;
}

a {
  font-weight: bold;
  color: #4b3f57;
}
